# Core functionality - changes here should be rare!
/src/app.py                   @angsg97
/src/backend/database.py      @angsg97
/src/backend/routers/auth.py  @angsg97

# The frontend will need refactored soon to be more object oriented.
/src/static/   @angsg97
